<%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <div class="blogs-content">
      <h2>all about us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
        sapiente harum quae voluptates illo? Quam dicta facilis voluptate harum
        doloribus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
        sapiente harum quae voluptates illo? Quam dicta facilis voluptate harum
        doloribus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
        sapiente harum quae voluptates illo? Quam dicta facilis voluptate harum
        doloribus.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>

  </body>
</html>
